{%extends 'base2.html'%}

{%block title%} Breaking Free Lyrics{%endblock%}

{%block content%}
    <div class="container">
        <h3 class="uni">
            <span class="glyphicon glyphicon-headphones" aria-hidden="True"></span> {{song.title}}
        </h3>
         <audio controls class="music">
            <source src="{{song.songFile.url}}" type="audio/ogg">
            <source src="{{song.songFile.url}}" type="audio/mpeg">
            <source src="{{song.songFile.url}}" type="audio/wav">
         </audio>
    </div>
    <br>
    <div  class="container lyrical">
        [Mugonchez]
          <br>
            yeah yeah
          <br>
        Oooooooooh Danny B, Dero Kim, Moses Everybody
          <br>
        Everybody knows am going far
          <br>
        Everybody knows am setting high
          <br>
        Everybody knows am breaking free from chains of sa...
          <br>
          <br>

        Everybody knows am going far
          <br>
        Everybody knows am setting high
          <br>
        Everybody knows am breaking free from chains of satan
          <br>
          <br>

        [Mugonchez]
          <br>
        Lord give me
          <br>
        All your love is all I need
          <br>
        Make me all you want of me
          <br>
        Am at peace with you ma lord
          <br>
        Every way you show me
          <br>
        I will never lose it now
          <br>
        I dedicate my life to you
          <br>
        Coz I will never be the same again
          <br>
          <br>

        Everybody knows am going far
          <br>
        Everybody knows am setting high
          <br>
        Everybody knows am breaking free from chains of sa...
          <br>

        Everybody knows am going far
          <br>
        Everybody knows am setting high
          <br>
        Everybody knows am breaking free from chains of satan
          <br>
          <br>

        [Danny B]
          <br>
        Umenitoa low kwenye zangu struggles
          <br>
        Coz without you singetoka kwenye scandals
          <br>
        Ways of man zilikuwa zani strangle
          <br>
        But now nko fiti you alone ndo stand on
          <br>
        Jehova jire kwangu mi ndiye candle
          <br>
        Shida zikikam mi nazi handle
          <br>
        In Christ kila kitu ninaweza handle
          <br>
        That's why ninakam ninasema thank you
          <br>
          <br>

        [Mugonchez]
          <br>
        Everybody knows am going far
          <br>
        Everybody knows am setting high
          <br>
        Everybody knows am breaking free from chains of sa...
          <br>
        Everybody knows am going far
          <br>
        Everybody knows am setting high
          <br>
        Everybody knows am breaking free from chains of satan
          <br>
          <br>

        [Trapper_Kimdrick]
          <br>
        Yeah Mose spoken breaking free from chains of Satan
          <br>
        Yeah dear God help me yeah my daily activities
          <br>
        Its not my will but the Lord will lift me
          <br>
        Tryna flow lyrics coz ain't gonna critics
          <br>
        He's gonna mix evil like a blender
          <br>
        He's gonna fix your issues call it spanner
          <br>
        Yeah anyone can praise the Lord
          <br>
        Coz He got no restrictions
          <br>
        People gonna tease you but the lord got you
          <br>
        Pata neno coz God ndio wetu
          <br>
          <br>

        [Mugonchez]
          <br>
        Everybody knows am going far
          <br>
        Everybody knows am setting high
          <br>
        Everybody knows am breaking free from chains of sa...
          <br>

        Everybody knows am going far
          <br>
        Everybody knows am setting high
          <br>
        Everybody knows am breaking free from chains of satan
          <br>
          <br>

        Everybody knows
          <br>
        Am breaking off these chains
          <br>
        Am moving on to God
          <br>
        He's the only one I need
          <br>
        Am holding on to him
          <br>
        He's holding on me
          <br>
        Am never letting go....yeah
          <br>

        Everybody knows am going far
          <br>
        Everybody knows am setting high
          <br>
        Everybody knows am breaking free from chains of sa...
          <br>
          <br>

        Everybody knows am going far
          <br>
        Everybody knows am setting high
          <br>
        Everybody knows am breaking free from chains of satan
          <br>

    </div>

{%endblock%}