{%extends 'base2.html'%}

{%block title%}God Like You Lyrics{%endblock%}

{%block content%}
     <div class="container">
        <h3 class="uni">
            <span class="glyphicon glyphicon-headphones" aria-hidden="True"></span> {{song.title}}
        </h3>

         <audio controls class="music">
            <source src="{{song.songFile.url}}" type="audio/ogg">
            <source src="{{song.songFile.url}}" type="audio/mpeg">
            <source src="{{song.songFile.url}}" type="audio/wav">
         </audio>
    </div>
    <br>
    <div  class="container lyrical" >

            [Mugonchez]
          <br>
        I have never seen a God like you
          <br>
        You got me up now am feeling so high
          <br>
        You my hope, for my life
          <br>
        I can't live a day without you Lord
          <br>
          <br>

        Everyday on ma knees I do bow (I do bow)
          <br>
        Give thanks to ma God that is how (That is how)
          <br>
        I always do ma things I mean look at now (look at now)
          <br>
        I can sing, I can rap coz my God is wow!
          <br>
          <br>

        [Mugonchez]
          <br>
        Ain't gonna fear (fear)
          <br>
        My God is always near
          <br>
        Wanna shout to the world to get me loud & clear
          <br>
        I praise from ma heart coz He reign,coz He reign
          <br>
        coz He reign, coz He reign, coz He reign (ooh Lord)
          <br>
        I sing for you (yeah)
          <br>
        Do ma prayers to you
          <br>
        Never be ashamed coz I live for you
          <br>
        I say no more tears (tears)
          <br>
        No more pain for me...yeah
          <br>
        uuuuh lalaa...
          <br>
          <br>

        [Trapper_Kimdrick]
          <br>
        Nimetoka mbali miles
          <br>
        Naenda mbali miles
          <br>
        Najua kila step Jehovah ndio ameni-hold till now (X2)
          <br>
        Sio kiherhere buh am just speaking my mind (mind)
          <br>
        Just trynna make it clear that we have sinned ata ameniskia
          <br>
        Nikijua nime-take a long way now am here
          <br>
        Take a wrong path ndio utajua life ni kuumia (what!)
          <br>
        Take a wrong path ndio utajua life ni kuumia (oh yeah)
          <br>
          <br>

        Vipi vipi bradhe, siste, mum and dad
          <br>
        kila siku, wiki, miezi, miaka tume-seek word
          <br>
        kila njia, kila path word ndio guard
          <br>
        Buh I'mma sure one day tutakuwa on same line
          <br>
        Sheto is just a shadow to our minds li-like a Dejavu
          <br>
        Tusifanye sins ziwe kam-kama Dejavu
          <br>
        Usi-fume nkibonga hivi sidai kuona mashavu
          <br>
        Wasee most wamebonda tumezoea kuona mashavu
          <br>
          <br>

        [Mugonchez]
          <br>
        I have never seen a God like you
          <br>
        You got me up now am feeling so high
          <br>
        You my hope, for my life
          <br>
        I can't live a day without you Lord
          <br>
          <br>

        Everyday on ma knees I do bow (I do bow)
          <br>
        Give thanks to ma God that is how (That is how)
          <br>
        I always do ma things I mean look at now (look at now)
          <br>
        I can sing, I can rap coz my God is wow!
          <br>
          <br>

        [Danny B]
          <br>
        To my God I do, Dedication
          <br>
        Coz all I am is under His, Supervision
          <br>
        Never tremble  His protection is, on me
          <br>
        This ain't just a song but a true, Story
          <br>
        Coz I write about my life, History
          <br>
        You go live in a storey-building
          <br>
        You don't have to worry
          <br>
        You have to bend low on your knees
          <br>
        To get a bungalow, all your needs
          <br>
          <br>

        Surrender all to God
          <br>
        Let Him control your odds
          <br>
        Come to God with thanks giving in your heart
          <br>
        Unto Him give the glory...everyday
          <br>
        Say unto daddy, give the glory...everyday
          <br>
          <br>

        [Vajom]
          <br>
        Must have gone numb from my head to my toe
          <br>
        Must have gone numb you better ask my bro
          <br>
        Must have gone numb for the type of guys I roll with
          <br>
        Must have gone numb coz they make me go banana
          <br>
        Ok I love it, I love it when I go numb
          <br>
        They say I have it
          <br>
        Sleeping on the couch
          <br>
        Wake up see the sunny give thanks to Almighty (yeah) X2
          <br>
          <br>

        [Mugonchez]
          <br>
        I have never seen a God like you
          <br>
        You got me up now am feeling so high
          <br>
        You my hope, for my life
          <br>
        I can't live a day without you Lord
          <br>
          <br>

        Everyday on ma knees I do bow (I do bow)
          <br>
        Give thanks to ma God that is how (That is how)
          <br>
        I always do ma things I mean look at now (look at now)
          <br>
        I can sing, I can rap coz my God is wow!
          <br>

    </div>

{%endblock%}